.experience {
    display: flex;
    margin: 2rem 0;
    flex-direction: column-reverse;

    @include style-hidden;

    &--show {
        @include style-show;
    }

    &__container {
    }

    &__logo {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 0 0;

        &__src {
            max-width: 75%;
            max-height: 4rem;
        }
    }

    &__description {
        margin-top: .5rem;
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;

        &__info {
            width: 70%;
        }

        &__logo {
            width: 30%;
        }
    }
}
