.skill {
    &__container {

    }

    &__item {
        display: flex;
        margin-bottom: .4rem;
    }

    &__text {
        display: none;
        height: $line-height-base+rem;
    }

    &__level {
        width: 100%;
        display: block;
        overflow: hidden;

        &__content {
            width: 0;
            transition: 2s;
            display: block;
            height: $line-height-base+rem;
            background-color: transparentize($teal, .3);

            &--active {
                padding-left: .5rem;
            }

            .rocket {
                right: 100px;
                height: 1.5rem;
                position: absolute;
                top: 0;
                transition: 1.5s ease-in-out;
                transition-delay: .5s;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__text {
            width: 20%;
            display: inline-block;
        }

        &__level {
            width: 80%;

            &__content {
                font-size: 0;
            }
        }
    }
}
