.about {
    overflow: hidden;
    position: relative;
    padding-bottom: 10vh;

    &__title--small {
        font-size: 2rem;
        font-weight: normal;
    }

    &__subtitle--small {
        font-size: 1.2rem;
    }

    &__spacer {
        background-color: transparentize($white, .4);
        width: 20%;
    }

    &__background {
        position: absolute;
        background-repeat: repeat-y;
        height: 1000vh;
        width: 100%;
        z-index: -1;
        background-image: url('../../images/star-pattern.svg');
        background-size: 200% auto;

        @include media-breakpoint-up(md) {
            background-size: 100% auto;
        }
    }

    &__icons {
        z-index: -1;
        position: absolute;
    }

    &__content {
        z-index: 5;

        &__item {
            background-color: transparentize(darken($dark, 5%), 0.4);
            padding: 1rem 1.5rem;
            margin: 3rem 2.5% 0;
            border-radius: .7rem;

            @include media-breakpoint-up(md) {
                width: 60vw;
                margin: 10vh 0 0 5vw;

                &--odd {
                    margin-left: 35vw;
                }
            }
        }
    }
}

.icon {
    z-index: 5;

    &--sun {
        width: 100vw;
        height: 100vw;
        margin-top: -80vw;
        animation: sunAnimation infinite 720s linear;
    }

    &--mercury {
        margin-left: 70vw;
        width: 4rem;
        height: 4rem;
    }

    &--venus {
        margin-left: 10vw;
        text-align: right;
        margin-top: 8rem;
        width: 8rem;
        height: 8rem;
        animation: planetAnimation infinite 20s linear reverse;
    }

    &--earth {
        margin-left: 70vw;
        margin-top: 10rem;
        width: 12rem;
        height: 12rem;
    }

    &--moon {
        margin-left: 75vw;
        margin-top: -6rem;
        width: 2rem;
        height: 2rem;
        animation: moonAnimation infinite 60s linear;
    }

    &--iss {
        margin-left: 75vw;
        margin-top: -2rem;
        width: 1.3rem;
        height: 1.3rem;
        animation: issAnimation infinite 20s linear;
    }

    &--mars {
        margin-left: 30vw;
        margin-top: 10rem;
        width: 6rem;
        height: 6rem;
        animation: planetAnimation infinite 15s linear;
        animation-delay: random(2000) + ms;
    }

    &--jupiter {
        margin-left: 60vw;
        margin-top: 5rem;
        width: 45rem;
        height: 45rem;
    }

    &--saturn {
        margin-left: -10rem;
        margin-top: 10rem;
        width: 35rem;
        height: 35rem;
        animation: planetAnimation infinite 15s linear reverse;
        animation-delay: random(2000) + ms;
    }

    &--uranus {
        margin-left: 85vw;
        margin-top: 10rem;
        width: 22rem;
        height: 22rem;
    }

    &--neptune {
        margin-left: -5rem;
        margin-top: 10rem;
        width: 20rem;
        height: 20rem;
    }


    &--camera {
        width: 5.5rem;
        height: 5.5rem;
        margin-top: 20rem;
        animation: flyingAnimation 30s infinite linear;
    }

    &--cactus {
        width: 4rem;
        height: 4rem;
        margin-top: -6rem;
        animation: flyingAnimation 40s infinite linear reverse;
    }
}



