.albums {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 35px;

    &__album {
        width: 100%;
        overflow: hidden;
        padding: 5px 0;

        @include media-breakpoint-up(md) {
            width: 50%;
            padding: 5px;
        }

        @include media-breakpoint-up(xl) {
            width: 33.3%;
        }

        &__image {
            height: 275px;
            width: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            .albums__album__image {
                transform: scale(1.05);
            }
        }

        &__link {
            position: relative;
            overflow: hidden;
            display: block;
        }

        &__title {
            position: absolute;
            z-index: 4;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0 .5rem;
            line-height: 2.5rem;
            color: $gray-200;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                background-color: $black;
                width: calc(100% + .7rem);
                height: 3rem;
            }
        }

    }
}

// Fix sticky position on bootstrap column
@include media-breakpoint-up(md) {
    .position-sticky-md {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 1rem;
        align-self: flex-start;
    }
}


// Single album
.album {
    @extend .albums;

    &__photo {
        @extend .albums__album;

        &__img {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        &__src {
            @extend .albums__album__image;
        }
    }
}
