/**
 * Banner block
 */
.banner {

    &__content {
        height: 500px;
        width: 100%;
        position: relative;
        overflow: hidden;

        &__image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 5;

            &__src {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__text {
            z-index: 10;
        }
    }

    // Components
    &__title {
        font-size: 3rem;
        font-weight: 500;
        text-transform: none;

        @include media-breakpoint-up(md) {
            font-size: 4.2rem;
        }
    }

    &__text {
        height: 100%;
    }

    &__spacer {
        width: 2rem;
        background-color: $white;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 300;
        text-transform: uppercase;
    }


    &--titles-bar &__content {
        .banner {
            &__titles {
                padding: 2rem 0;
                background-color: rgba(0, 0, 0, 0.7);
            }

            &__title {
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: .25rem;
            }
        }
    }

    &--titles-fullheight &__content {
        .banner {
            &__content__text {
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
            }

            &__spacer {
                display: none;
            }

            &__subtitle {
                font-weight: 300;
                font-style: italic;
                text-transform: none;
            }
        }
    }

    // Full height version
    &--full-height &__content {
        height: 100vh;
    }

    // Large version
    &--large &__content {
        height: 70vh;
    }

    // Medium version
    &--medium &__content {
        height: 50vh;
    }

    // Small version
    &--small &__content {
        height: 300px;
    }

    // Skewed version
    &--skewed &__content {
        position: relative;
        overflow: hidden;

        &::before,
        &::after {
            position: absolute;
            content: '';
            background-color: $dark;
            height: 4vw;
            width: 100%;
            z-index: 15;
        }

        &::before {
            top: -2.5vw;
            transform: rotate(1.5deg);
        }

        &::after {
            bottom: -2.5vw;
            transform: rotate(-1.5deg);
        }
    }
}
