// Quote block
.quote {
    .blockquote {
        padding: 2rem .8rem;
        margin: 0;
        width: 100%;
        font-size: 1.6rem;

        p {
            @include style-hidden;
        }

        &-footer {
            font-weight: 300;
            @include style-hidden;
        }
    }


    &--show .blockquote {
        &-footer,
        p {
            @include style-show;
        }
    }
}
