/**
 * Paragraph block
 */
.contact-form {
    padding: 2rem 0;

    &__title,
    &__subtitle,
    &__text {
        @include style-hidden;
    }

    &--show &__title,
    &--show &__subtitle,
    &--show &__text {
        @include style-show;
    }

    .title {
        word-break: break-all;
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.75rem;
    }

    &__form,
    &__text {
        margin-top: 1.2rem;
    }
}
