// Image/text block
.image-text {
    &__content {
        padding: 2.7rem 0 .5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include style-hidden;
    }

    &--show &__content {
        @include style-show;
    }

    .flex-md-row &__content {
        text-align: right;
    }

    &__title {
        font-size: 4rem;
    }

    &__subtitle {
        font-size: 2rem;
    }

    &__text {
        margin-top: 1rem;
        font-weight: 300;
        font-size: 1.3rem;
    }

    &__caption {
        display: none;
        font-size: .9em;

        @include media-breakpoint-up(md) {
            left: -190%;
            bottom: 10vh;
            position: absolute;
            z-index: 10;
            display: block;

            .flex-md-row & {
                right: -190%;
                left: auto;
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: -20px;
            top: -15px;
            background: #1cbfb7;
            color: white;
            width: 95%;
            height: 95%;
            z-index: -1;
        }
    }

    &__img {
        overflow: hidden;

        &__src {
            margin-left: 10%;
            width: 80%;
            object-fit: contain;
            transition: all .2s ease;
        }
    }
}
