/**
 * Paragraph block
 */
.paragraph {
    &__title,
    &__subtitle,
    &__text {
        @include style-hidden;
    }

    &--show &__title,
    &--show &__subtitle,
    &--show &__text {
        @include style-show;
    }

    &__subtitle {
        @extend .subtitle;

        transition-delay: .1s;
        margin-bottom: 0;
    }

    &__title + &__text,
    &__subtitle + &__text {
        transition-delay: .7s;
        margin-top: 1.2rem;
    }

    &__text {
        font-size: 1.2rem;
        font-weight: lighter;
        line-height: 2rem;
        padding-top: 1rem;
        margin-top: 1rem;

        &::before {
            width: 2rem;
            height: .2rem;
            content: '';
            background-color: $teal;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__content {
        padding: 4rem .8rem;
        width: 100%;
        max-width: $container-width;
        margin: 0 auto;

        a {
            position: relative;
        }

        a:after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            bottom: -1px;
            right: 0;
            position: absolute;
            transition: all $transition-short ease;
            background-color: #4dc0b5;
        }

        a:hover {
            text-decoration: none;
        }

        a:hover:after {
            width: 100%;
            transition: all $transition-short ease;
            left: 0;
        }
    }
}
