/**
 * Button style
 */
.btn {

    &-xl {
        padding: 0.7rem 1.2rem;
        font-size: 1.5rem;
        line-height: 1.5;
        border-radius: 0.4rem;
    }

    &-link {
        position: relative;
        z-index: 1;

        &::before,
        &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            border: 2px solid transparent;
            width: 0;
            height: 0;
            transition: all $transition-short ease-out;
        }

        // This covers the top & right borders (expands right, then down)
        &::before {
            top: 0;
            left: 0;
        }

        // And this the bottom & left borders (expands left, then up)
        &::after {
            bottom: 0;
            right: 0;
        }

        &:hover {
            color: $link-hover-color;
            text-decoration: none;
        }

        // Hover styles
        &:hover::before,
        &:hover::after {
            width: 100%;
            height: 100%;
            transition: all $transition-short ease-out;
        }

        &:hover::before {
            border-top-color: $link-hover-color;
            border-left-color: $link-hover-color;
        }

        &:hover::after {
            border-bottom-color: $link-hover-color;
            border-right-color: $link-hover-color;
        }
    }
}
