@for $i from 1 through 8 {
    .vh {
        &-#{$i * 25} {
            height: #{$i * 25}vh;
        }

        @include media-breakpoint-up(md) {
            &-md-#{$i * 25} {
                height: #{$i * 25}vh;
            }
        }
    }
}
