.title {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1;

    @include media-breakpoint-up(md) {
        font-size: 3.2rem;
    }
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    font-style: italic;
    padding: 0;
    margin-top: .1rem;

    @include media-breakpoint-up(md) {
        font-size: 1.8rem;
    }
}

.text {
    word-break: break-word;
}
