.footer {
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
    width: 100%;
    background-color: $dark;
    bottom: 0;
    z-index: 70;
    transition: all $transition-long ease;
    opacity: 1;
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
        padding: 4rem 4rem;
        position: fixed;
        height: $footer-height;

        &__spacer {
            z-index: 20;
            height: $footer-height;
        }

        &--active {
            opacity: 0;
        }
    }

    &__icon,
    &__title,
    &__subtitle,
    &__text {
        color: $white;
    }

    &__title {
        font-size: 3rem;
    }

    &__subtitle {
        font-size: 1.75rem;
        margin-bottom: 1.2rem;
    }

    &__icons {
        text-align: center;
        margin: 1.5rem 0;
    }

    &__icon {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        padding: .5rem;
        margin: 5px;
        position: relative;
        background-size: cover;
        border-radius: 20%;
        background-color: $white;
        vertical-align: middle;
        text-align: center;
        transition: all $transition-long ease;

        svg {
            transition: all $transition-long ease;
            margin: 5%;
            width: 90%;
            height: 90%;
            fill: $dark;
        }

        &:hover {
            border-radius: 35%;

            svg {
                transform: scale(.8);
            }
        }
    }
}
