/**
 * Navigation
 */
.nav-toggle {
    background-color: $primary;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.26);

    position: fixed;
    height: 60px;
    width: 130px;
    right: -40px;
    top: 20px;

    z-index: 110;
    cursor: pointer;
    transition: right $transition-longer ease-in-out $transition-short,
    box-shadow $transition-long ease .1s;

    animation: menuAnimation infinite 5s 3s;
    animation-timing-function: cubic-bezier(0.31, 0, 1, 1);

    &--active {
        animation: none;
        box-shadow: none;
        transition: all $transition-short ease;
        transition-delay: 0s;
    }

    &__burger {
        width: 30px;
        height: 4px;
        border-radius: 5px;
        left: 15px;
        top: 18px;
        background-color: $white;
        transition: all 0.15s ease-out;
        position: absolute;
        opacity: 1;

        @include media-breakpoint-up(md) {
            opacity: 0;
        }

        &--second {
            margin-top: 10px;
        }

        &--third {
            margin-top: 20px;
        }
    }

    &__text {
        opacity: 0;

        @include media-breakpoint-up(md) {
            opacity: 1;
            transition: all 0.15s ease-out;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 60px;
            width: 120px;
            display: inline-block;
            text-align: center;
        }
    }

    &--active &__text {
        @include media-breakpoint-up(md) {
            opacity: 0;
        }
    }

    &--active &__burger {
        transition: all 0.15s ease-out;
        transition-delay: .05s;
        transform-origin: 50% 50%;

        @include media-breakpoint-up(md) {
            opacity: 1;
        }

        &--first {
            margin-top: 10px;
            transform: rotate(45deg);
        }

        &--second {
            opacity: 0;
        }

        &--third {
            margin-top: 10px;
            transform: rotate(-45deg);
        }

    }


    @include media-breakpoint-up(lg) {
        right: -160px;

        &--menu-is-on-top {
            display: none;
        }
    }

    &--show {
        right: -40px;

        @include media-breakpoint-up(md) {
            right: -10px;
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    max-width: 100%;
    height: 100vh;
    background: $primary;
    z-index: 100;
    transition: transform $transition-long ease;
    flex-direction: column;

    &--active {
        transform: translateX(-400px);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.26);
    }

    &__list {
        list-style: none;
        text-align: center;
        width: 95%;
        margin: 0 auto;
        padding: 0;

        &__item {
            display: block;

            &__link {
                text-transform: uppercase;
                font-size: 2.2em;
                font-weight: 700;
                letter-spacing: .27rem;
                padding: .3em 0;
                color: $white;
                display: block;
                text-decoration: none;

                position: relative;
                z-index: 1;
                transition: all $transition-long, font-size 0s, line-height 0s;

                &::after {
                    transition: all $transition-long;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0;
                    height: 100%;
                    content: '';
                    color: transparent;
                    background: white;

                    opacity: 0;
                    z-index: -1;
                }

                &:hover {
                    color: $dark;
                    text-decoration: none;

                    &::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &--ontop {
            display: block;
            width: 100%;
            height: $menu-height;
            right: 0;
            top: 0;
            flex-direction: row;

            .footer__icons {
                display: none;
            }
        }

        &--ontop &__list {
            margin: 0;
            width: 100%;
            display: flex;


            &__item {
                line-height: $menu-height;
                flex-basis: 0;
                flex-grow: 1;

                &__link {
                    word-break: keep-all;

                    padding: 0 1rem;
                    font-size: 1.6rem;
                }
            }
        }
    }

}
