.site {
    transition: all $transition-long ease;
    margin: 0;
    z-index: 90;

    @include media-breakpoint-up(lg) {
        padding-top: $menu-height;
    }

    &__content {
        position: relative;
        z-index: 90;
        background-color: $dark;
        padding-bottom: 30px;
        min-height: 80vh;
    }

    &--active {
        margin: 0;
        filter: blur(6px);
        transform: translateX(-300px);
        user-select: none;
    }
}

.position-sticky {
    top: 0;
}

// Fix sticky position on bootstrap column
@include media-breakpoint-up(md) {
    .position-md-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0;
        align-self: flex-start;
    }
}
