@keyframes menuAnimation {
    0% {
        margin-right: 0;
    }
    5% {
        margin-right: 4px;
    }
    10% {
        margin-right: 0;
    }
    12% {
        margin-right: 0;
    }
    17% {
        margin-right: 4px;
    }
    22% {
        margin-right: 0;
    }
}

@keyframes sunAnimation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

@keyframes moonAnimation {
    0% {
        transform: rotate(0deg) translateY(8rem) rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(90deg) translateY(8rem) rotate(-90deg) scale(.8);
    }
    50% {
        transform: rotate(180deg) translateY(8rem) rotate(-180deg) scale(.60);
    }
    75% {
        transform: rotate(270deg) translateY(8rem) rotate(-270deg) scale(.8);
    }
    100% {
        transform: rotate(360deg) translateY(8rem) rotate(-360deg) scale(1);
    }
}

@keyframes issAnimation {
    0% {
        transform: rotate(360deg) translateY(6rem) rotate(-360deg) scale(1);
    }
    25% {
        transform: rotate(270deg) translateY(6rem) rotate(-270deg) scale(.8);
    }
    50% {
        transform: rotate(180deg) translateY(6rem) rotate(-180deg) scale(.60);
    }
    75% {
        transform: rotate(90deg) translateY(6rem) rotate(-90deg) scale(.8);
    }
    100% {
        transform: rotate(0deg) translateY(6rem) rotate(0deg) scale(1);
    }
}

@keyframes flyingAnimation {
    0% {
        left: -20%;
        top: 5%;
    }
    50% {
        left: 50%;
        top: 50%;
    }
    100% {
        left: -20%;
        top: 95%;
    }
}


@keyframes planetAnimation {
    0% {
        transform: rotate(0deg) translateY(.6rem) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateY(.6rem) rotate(-360deg);
    }
}


@keyframes flyingAnimation {
    0% {
        transform: translate3d(-10rem, -5rem, 0) rotate(0);
    }
    100% {
        transform: translate3d(100vw, 10rem, 0) rotate(270deg);
    }
}
