/* rubik-300 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Rubik Light'), local('Rubik-Light'),
    url('../../fonts/rubik/rubik-v9-latin-300.woff2') format('woff2'),
    url('../../fonts/rubik/rubik-v9-latin-300.woff') format('woff');
}

/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rubik'), local('Rubik-Regular'),
    url('../../fonts/rubik/rubik-v9-latin-regular.woff2') format('woff2'),
    url('../../fonts/rubik/rubik-v9-latin-regular.woff') format('woff');
}

/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Rubik Medium'), local('Rubik-Medium'),
    url('../../fonts/rubik/rubik-v9-latin-500.woff2') format('woff2'),
    url('../../fonts/rubik/rubik-v9-latin-500.woff') format('woff');
}

/* rubik-700 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Rubik Bold'), local('Rubik-Bold'),
    url('../../fonts/rubik/rubik-v9-latin-700.woff2') format('woff2'),
    url('../../fonts/rubik/rubik-v9-latin-700.woff') format('woff');
}
