// Typography
$font-family-sans-serif: 'Rubik', Verdana, sans-serif;
//$font-family-sans-serif: 'Raleway', Verdana, sans-serif;
//$headings-font-family: 'Raleway', Verdana;
$line-height-base: 1.6;

// Colors - default
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #1cbfb7;
$cyan: #6cb2eb;

// Colors - theming
$dark: #1e1e1e;
$primary: $teal;

// Colors - body
$body-bg: $dark;
$body-color: #efefef;

// Colors - inputs
//$custom-file-button-bg: $blue;

$input-bg: lighten($body-bg, 20%);
$input-border-color: $body-bg;
$input-color: $body-color;

// Transitions
$transition-longer: 1s;
$transition-long: .6s;
$transition-short: .35s;

// Container width
$container-width: 1350px;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: $container-width
);

$menu-height: 4rem;
$footer-height: 50vh;
